@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Montserrat:wght@500&family=Poppins:ital@1&family=Roboto:wght@500&display=swap');
*{
    margin: 15px;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    box-sizing:border-box;
}
body{
    color: #000;
}
section{
    width: 100%;
    height: 100vh;
    background-image: url(Untitled.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2px;
}
section header{
    display: flex;
    justify-content: space-between;
    align-items: unset;
    padding: 2px;
}